
.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
img {
    width: 200px;
}
body {
    text-align: center;
    font-family: 'quicksand';
    background: rgb(128, 255, 255);
    color: rgb(25, 92, 26);
}
